
.form-booking{
    margin-top: 30px;
}
.form-booking .buttons{
    display: flex;
    justify-content: flex-end;
    font-family: MyWebFont2, Fallback, sans-serif;
}
.input-wrapper {
    position: relative;
}
@media only screen and (max-width: 600px) {
    .input-wrapper{
        margin-bottom: 15px;
    }
}