
header .login .btn-link{
    text-decoration: none;
    color: #fff;
    font-size: var(--small-font);
    font-weight: 600;
    font-family: MyWebFont2, Fallback, sans-serif;
}
@media only screen and (max-width: 600px) {
    header .login{
        display: none;
    }
}