
.booking{
    position: relative;
    transform: translateY(-50%);
    margin-bottom: 1%;
}
.booking .container{
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(141, 211, 187, 0.15);
    padding: 16px 32px;
}
@media only screen and (max-width: 600px) {
    .booking{
        transform: translateY(-20%);
    }
    .booking .row{
        gap: 10px;
    }
}