:root{
    --body-bg-color: #FAFBFC;
    --border-color: #D7E2EE;
    --btn-color: #8DD3BB;
    --small-font: 0.875rem;
    --p-color: #112211;
    --subs-color: #CDEAE1;
}
@font-face {
    font-family: 'MyWebFont';
    src: url('/public/assets/webfonts/Trade\ Gothic\ LT\ Std\ Extended.otf');
}
@font-face {
    font-family: 'MyWebFont2';
    src: url('/public/assets/webfonts/Montserrat-Regular.ttf');
}
body{
    background-color: var(--body-bg-color);
    font-family: MyWebFont, Fallback, sans-serif;
}
.l-input{
    border: 1px solid gray;
    border-radius: 6px;
    position: relative;
    width: 100%;
    line-height: 6ex;
    padding: 10px 15px;
    font-family: MyWebFont2, Fallback, sans-serif;
}
select.l-input{
    height: 71.8px;
    -webkit-appearance: none; /* for Safari/Chrome */
    -moz-appearance: none; /* for Firefox */
    appearance: none;
}
.l-title {
    position: absolute;
    top: -1.8ex;
    z-index: 1;
    left: 2em;
    background-color: white;
    padding: 0 5px;
    font-size: var(--small-font);
    color: var(--p-color);
    font-family: MyWebFont2, Fallback, sans-serif;
}
.l-icon{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}
@media only screen and (max-width: 600px) {
    .g-3{
        --bs-gutter-y: 0rem;
        --bs-gutter-x: 0rem;
    }
    .g-5{
        --bs-gutter-y: 0rem;
        --bs-gutter-x: 0rem;
    }
}
@media only screen and (max-width: 768px) and (min-width: 600px) {
    .l-title{
        font-size: 10px;
    }
}